*{
	font-family: 'Lato', 
	sans-serif;
	font-weight: 300;
}

body {
	padding-top: 50px;
}

.navbar-brand {
	font-weight: 700;
}

.divslider {
	padding-top: 15px;
	padding-bottom: 15px;
	/* background: url("../imgs/background.jpg"); */

}