*{
	font-family: 'Lato', 
	sans-serif;
	font-weight: 300;
}

body {
	padding-top: 50px;
}

section {
	padding-top: 25px;
	padding-bottom: 15px;
	min-height: 100vh;
}

footer{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: gray;
}

section#contato {
	min-height: auto;
}

.navbar-brand {
	font-weight: 700;
}

.divslider {
	min-height: 100vh;
	padding-top: 100px;
	padding-bottom: 15px;
	/* background: url("../imgs/background.jpg"); 
	background-color: #BEBEBE; */
}

.div_colorida {
	background-color: #F5F5F5;
}

.sevico_item {
	text-align: justify;
}

.sevico_item h4 {
	margin-top: 30px;
	font-size: 30px;
}

.portfolio_item {
	background: white;
}

.portfolio_item h4{
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
}

.portfolio_img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.portfolio_img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.contato textarea {
	height: 170px;
}

.contato .aviso {
	padding: 15px;
}

.sectionInterna {
	padding-top: 0px;
}

.page-servico {
	margin-top: 20px;
}

.loremisum {
	font-family: 'Indie Flower', cursive;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.form-login {
	max-width: 308px;
	max-height: 287px;
	margin-left: auto;
	margin-right: auto;
	background-color: white; 
}

.div-login {
	max-width: 308px;
	max-height: 287px;
	margin-left: auto;
	margin-right: auto;
}

.div-form-login {
	padding-top: 20px;
	padding-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

.body-login {
	background-color: #F5F5F5;
}

.borda {
	border-radius: 5px;
	border: 1px solid #778899;
}

.criar-conta {
	max-width: 308px;
	max-height: 287px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
	padding-bottom: 5px;
}

.link-gray {
	margin-top: 100px;
	max-width: 308px;
	max-height: 287px;
	margin-left: auto;
	margin-right: auto;
}

.link-gray a {
	margin-left: 25px;
	text-decoration: none;
	color: gray;
}