*{
	font-family: 'Lato', 
	sans-serif;
	font-weight: 300;
}

body {
	padding-top: 50px;
}

section {
	padding-top: 25px;
	padding-bottom: 15px;
	min-height: 100vh;
}

footer{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: gray;
}

section#contato {
	min-height: auto;
}

.navbar-brand {
	font-weight: 700;
}

.divslider {
	min-height: 100vh;
	padding-top: 100px;
	padding-bottom: 15px;
	/* background: url("../imgs/background.jpg"); 
	background-color: #BEBEBE; */
}

.div_colorida {
	background-color: #F5F5F5;
}

.sevico_item {
	text-align: justify;
}

.sevico_item h4 {
	margin-top: 30px;
	font-size: 30px;
}

.portfolio_item {
	background: white;
}

.portfolio_item h4{
	text-align: center;
	margin-top: 10px;
	padding-bottom: 10px;
}

.portfolio_img {
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.portfolio_img:hover {
  -webkit-filter: grayscale(0);
  filter: none;
}

.contato textarea {
	height: 170px;
}

.contato .aviso {
	padding: 15px;
}